@import url("./bootstrap.css");
@import url("./fonts.css");

:root {
  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #f2f2f2;

  --clr-accent-100: #f9a826;

  --clr-title: #2f527b;
  --clr-content: #6066d0cc;

  --clr-correct: #60bf88;
  --clr-wrong: #ea8282;

  --ff-primary: "Poppins";

  --transition: 0.4s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul[role="list"] {
  list-style: none;
}

body {
  background-image: url("./../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--ff-primary), sans-serif;
}

.flow > * + * {
  margin-top: var(--flow-spacer, 16px);
}

.container {
  --max-width: 1200px;
  --container-padding: 20px;
  width: 100%;
  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 15px;
}

.clr-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-decoration {
  text-decoration: none;
}
